*.iml
.kotlin
.gradle
*.zip
*.apk
**/build/
**/keys
**/*.log
**/google-services.json
build_all.ps1
build_wasmJs.ps1
fastlane/*.xml
fastlane/README.md
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
